// $mainColor:#7C88AE; //灰色
// // $mainColor:#297FCA;//蓝色
// // $mainColor:#525A65; // 深灰色


$darkColor:#221f2e;
$lightDarkColor:#fff;

$medium-grey:#807e8f;
$light-grey:#b9b8c1;

$greenColor:#00c5d2;
$yellowColor:#edcd61;
$redColor:#ff87d4;


$paddingSize:12px;